@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác thực tài khoản ";
    ViewData["isAccount"] = true;
}

<h1>@ViewData["Title"]</h1>
<p>
    Hãy kiểm tra lại địa chỉ email của bạn. 
</p>
