@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác thực tài khoản đăng ký";
    ViewData["isAccount"] = true;
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Chúng tôi đã gửi một email tới email của bạn để xác thực email.
   
            
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

