@model DoAnLapTrinhWeb.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Tạo mới một Transaction" : "Chỉnh sửa Transaction";
}

<h1>Tạo</h1>

<h4>Giao Dịch</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="AddorEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TransactionId" value="@Model.TransactionId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioIncome" name="Type" value="Income" onclick="toggleDropdown('income')" checked />
                        <label class="e-btn" for="radioIncome">Thu Nhập</label>
                        <input type="radio" id="radioExpense" name="Type" value="Expense" onclick="toggleDropdown('expense')" />
                        <label class="e-btn" for="radioExpense">Tiêu Dùng</label>
                    </div>
                    <ejs-datepicker id="date" ejs-for="Date" placeholder="Ngày" floatLabelType="Always"
                                    format="MM-dd-yyyy"></ejs-datepicker>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div id="incomeCategoriesDropdown" class="mb-3">
                    <ejs-dropdownlist id="ddlIncomeCategoryId" placeholder="Categories Thu Nhập" dataSource="@ViewBag.IncomeCategories" ejs-for="CategoryId"
                                      floatLabelType="Auto" allowFiltering="true" ignoreAccent="true" filterType="Contains">
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div id="expenseCategoriesDropdown" class="mb-3" style="display: none;">
                    <ejs-dropdownlist id="ddlExpenseCategoryId" placeholder="Categories Tiêu Dùng" dataSource="@ViewBag.ExpenseCategories" ejs-for="CategoryId"
                                      floatLabelType="Auto" allowFiltering="true" ignoreAccent="true" filterType="Contains">
                        <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-numerictextbox id="amount" ejs-for="Amount" floatLabelType="Always" placeholder="Số lượng" min=0 format="c0"></ejs-numerictextbox>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="Note" placeholder="Ghi chú" ejs-for="Note" floatLabelType="Always" multiline="true"></ejs-textbox>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <ejs-button id="submit" type="submit" cssClass="e-success" content="Nhập"></ejs-button>
                </div>
            </form>
        </div>
    </div>
        <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-sharp fa-solid fa-list-check fa-2xl"></i>
        </div>
</div>
</div>

    <script>
        function toggleDropdown(type) {
            var incomeDropdown = document.getElementById('incomeCategoriesDropdown');
            var expenseDropdown = document.getElementById('expenseCategoriesDropdown');

            // Reset the value of the opposite dropdown to the value at index 0
            var oppositeDropdown = type === 'income' ? expenseDropdown : incomeDropdown;
            var oppositeDropdownId = type === 'income' ? 'ddlExpenseCategoryId' : 'ddlIncomeCategoryId';

            // Set the dropdown value to the value at index 0
            document.getElementById(oppositeDropdownId).ej2_instances[0].value = null;

            incomeDropdown.style.display = 'block';
            expenseDropdown.style.display = 'none';

            if (type === 'income') {
                incomeDropdown.style.display = 'block';
                expenseDropdown.style.display = 'none';
            } else if (type === 'expense') {
                incomeDropdown.style.display = 'none';
                expenseDropdown.style.display = 'block';
            }
        }
    </script>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
