@model IEnumerable<DoAnLapTrinhWeb.Models.Budget>

@{
    ViewData["PageTitle"] = "Budget";
    ViewData["PageActionText"] = "+ Budget Mới";
    ViewData["PageActionURL"] = "/Budgets/AddorEdit";
}
<div class="row">
    <div class="col-md-8" style='overflow:auto'>
        <ejs-grid id="transactions" dataSource="@Model" allowSorting="true" allowMultiSorting="true" gridLines="None" allowPaging="true" allowFiltering="true" width=700 toolbar="@(new List<string>() {"Search" })">
            <e-grid-pagesettings pagesize="7"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Giao Dịch" field="CategoryNameWithIcon"></e-grid-column>
                <e-grid-column headerText="Ngày bắt đầu" field="StartDate" format="MM-dd-yyyy" typeof="date" textalign=Left></e-grid-column>
                <e-grid-column headerText="Ngày kết thúc" field="EndDate" format="MM-dd-yyyy" typeof="date" textalign=Left></e-grid-column>
                <e-grid-column headerText="Số Tiền" field="Amount"></e-grid-column>
                <e-grid-column headerText="Tác Vụ" template="#ActionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-4 d-none d-md-block">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-sharp fa-solid fa-list-check fa-2xl"></i>
        </div>
    </div>
</div>

<script id="ActionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Budgets/AddorEdit/${BudgetId}">
            <i class="fa-solid fa-wand-magic"></i>
        </a>
        <form action="/Budgets/Delete/${BudgetId}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration" onclick="return confirm(&quot;Bạn có muốn xóa ${CategoryNameWithIcon} ?&quot;)">
                <i class="fa-solid fa-eraser fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
<script>
    function validateDates() {
        var startDateInputs = document.querySelectorAll('[name="StartDate"]');
        var endDateInputs = document.querySelectorAll('[name="EndDate"]');

        for (var i = 0; i < startDateInputs.length; i++) {
            var startDate = new Date(startDateInputs[i].value);
            var endDate = new Date(endDateInputs[i].value);

            if (startDate > endDate) {
                alert("Ngày bắt đầu phải sớm hơn ngày kết thúc.");
                return false;
            }
        }
        return true;
    }
</script>
<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        if (!validateDates()) {
            event.preventDefault();
        }
    });
</script>
