@page
@model EmailModel
@{
    ViewData["Title"] = "QUẢN LÝ EMAIL";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    @*<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />*@
                    <ejs-textbox ejs-for="Email" type="text" placeholder="Email của bạn" aria-required="true" ShowClearButton=false floatLabelType="Always" ></ejs-textbox>
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                   @*<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                    <label asp-for="Email" class="form-label"></label>*@
                    <ejs-textbox ejs-for="Email" type="text" placeholder="Nhập địa chỉ email " aria-required="true" ShowClearButton=false  disabled></ejs-textbox>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-floating mb-3">
                @*<input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="Input.NewEmail" class="form-label">Nhập Email mới </label>          *@
                <ejs-textbox ejs-for="Input.NewEmail" type="text" placeholder="NHẬP EMAIL MỚI CỦA BẠN " aria-required="true" ShowClearButton=false floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
